.BikeLocator {
  background-color: rgb(79, 110, 111);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;

}

.BikeLocator-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(79, 110, 111);
  text-align: center;
  color: cadetblue;
  margin-bottom: 25px;
}

.BikeLocator-mapListContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.leaflet-container {
  height: 500px;
  width: 500px;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
